%ul.game-info
  %ul wall: #{@room.game.wall.tiles.count}
.game-board
  - 3.times.inject([current_user.seat]) {|seats| seats << seats.last.next }.each.with_index do |seat, i|
    %div{class: "user-field user-field--#{i}"}
      .center-area
        .player-info{data: {position: seat.position}}
          .player-info__point= seat.point
          .player-info__name seat.user #{seat.user.id}
        %ul.river
          - seat.river.tiles.order(:updated_at).each do |tile|
            %li.tile{data: {tile: tile.kind}}

      - if seat == current_user.seat
        %ul.hand
          - seat.hand.tiles.sort_by(&:kind).each do |tile|
            %li
              .tile{data: {tile: tile.kind}}
                = button_to_action_if_able user: current_user, room: @room, type: :discard, params: {id: tile.id}
